<div class="landhome">
  <div class="landhome-title">
    <h1>What do you want to do?</h1>
  </div>
  <div class="landhome-buttons">
    <label>Looking for an event?</label>
    <button><%= link_to "Search", events_path %></button>
    <label>Planning to organize?</label>
    <button><%= link_to "Create", new_event_path %></button>
  </div>
</div>
