
.contacts-page {
  background-color: #E3DFF2;
  padding: 48px;
  height: 98vh;
}

.contacts-page h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

.contact-box {
  border: 3px solid black;
  border-radius: 7px;
  box-shadow: 4px 4px;
  margin-top: 25px;
  background-color: #FFFFFF;
  padding: 15px;
}

.contact-box p {
  font-weight: 600;
}

.contact-box i {
  font-size: 130%;
  border: 3px solid black;
  border-radius: 7px;
  padding: 5px;
}
