.landhome {
  width: 100vw;
  height: 100vh;
  background-color: #8EBD9D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.land-top {
  width: 100%;
  height: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.land-top h1 {
  font-size: 35px;
  color: #1B475D;
}

.landhome-buttons label {
  color: #1B475D;
}

.landhome-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landhome-buttons button {
  margin-top: 30px;
}

.land-link {
  width: 250px;
  height: 45px;
  background-color: #FFF5D0;
  text-decoration: none;
  color: #1B475D;
  font-size: 20px;
  border-radius: 10px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.land-link:hover {
  color: #7DB28B;
}
