<div>
  <h1>Search an event near you</h1>

  <%= simple_form_for :search, url: events_path, method: :get, html: { class: 'search-form' } do |f| %>
    <div>
      <%= f.input :postcode, placeholder: "Enter postcode (E.g. 70713)", input_html: { class: "form-control" } %>
    </div>

    <div>
      <%= f.input :city, placeholder: "Enter city (E.g. Stuttgart)", input_html: { class: "form-control" } %>
    </div>

    <div>
      <%= f.button :submit, "Search", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
