<style>
  .navbar {
    display: none;
  }
</style>

<div class="home">
  <div class="home-top">
      <%= image_tag "Logo_big.png", class:"home-logo", alt: "Home Logo" %>
  </div>
  <div class="home-middle">
    <div class="home-description">
      <h2>Stay in the Loop</h2>
      <p>Discover, Connect, Enjoy</p>
    </div>
  </div>
  <div class="home-button">
    <%= link_to "Lets Go!", landhome_path, class: "btn home-link" %>
  </div>
</div>
