<div class="home">
  <div class="home-up">
    <h1>Local Loop</h1>
    <div class="home-logo"></div>
  </div>
  <div class="home-down">
    <div class="home-descriptopn">
      Some Description about the app.
    </div>
    <button class="btn btn-primary"><%= link_to "Lets Go!", landhome_path %></button>
  </div>
</div>
