<div class="home">
  <div class="home-top">
      <%= image_tag "Logo_big.png", class:"home-logo", alt: "Home Logo" %>
  </div>
  <div class="home-middle">
    <div class="home-description">
      <h2>Stay in the Loop</h2>
      <p>Some description about the app</p>
    </div>
  </div>
  <div class="home-bottom">
    <button class="btn btn-primary"><%= link_to "Lets Go!", landhome_path, class: "home-link" %></button>
  </div>
</div>
