<style>
  .navbar {
    display: none;
  }
</style>

<div class="home">
  <div class="home-top">
      <%= image_tag "Logo_big.png", class:"home-logo", alt: "Home Logo" %>
  </div>
  <div class="home-middle">
    <div class="home-description">
      <h1>Stay in <br>the Loop</h1>
      <br><br><br><br>
      <p>Building community, <br>one event at a time</p>
    </div>
  </div>
  <br>
  <div class="home-button">
    <%= link_to "Let's go!", landhome_path, class: "btn home-link" %>
  </div>
</div>
