<div class="contacts-page">
  <h1>We are</h1>

  <div class="contact-box">
    <p>Lukas Bertram</p>
    <i class="fa-brands fa-github">
      <a href="https://github.com/Lukas-Bertram" target="_blank"></a>
    </i>
    <i class="fa-brands fa-linkedin-in">
      <a href="https://www.linkedin.com/in/lukasbertram/"></a>
    </i>
  </div>
  <div class="contact-box">
    <p>Sophie Ranaivoharisoa</p>
    <i class="fa-brands fa-github">
      <a href="https://github.com/sophiernh" target="_blank"></a>
    </i>
  </div>
  <div class="contact-box">
    <p>Jay Cortes</p>
    <i class="fa-brands fa-github">
      <a href="https://github.com/JCorts1" target="_blank"></a>
    </i>
  </div>
  <div class="contact-box">
    <p>Rahel Pauli</p>
    <i class="fa-brands fa-github">
      <a href="https://github.com/dariapauli" target="_blank">
      </a>
    </i>
    <i class="fa-brands fa-linkedin-in">
      <a href="https://www.linkedin.com/in/rahel-pauli/"></a>
    </i>
  </div>
</div>
