.event-cards {
  background-color: #8EBD9D;
  color: #FFFBEE;
  margin: 20px;
  border-radius: 7px;
  padding: 10px 0px 10px 10px;
  display: flex;
  font-size: 0.8em ;
}

.event-cards a {
  color: #1B475D;
  text-decoration: none;
  font-size: 0.7em;
  font-weight: 600;
  margin-bottom: 5px;

  &:hover {
    color: #FFFBEE;
  }
}

.text-container {
  flex: 1;
  padding: 10px;
}

.category-box {
  background-color: #1B475D;
  color: #FFFBEE;
  border-radius: 7px;
  padding: 5px;
  margin-right: 5px;
}

.age-box {
  background-color: #FFFBEE;
  color: #1B475D;
  border-radius: 7px;
  padding: 5px;
}

.price-box {
  width: 10vh;
  height: 30px;
  text-align: center;
  font-weight: 500;
  margin: 5px 0px 5px 5px;
}

.blue-price {
  background-color: #1B475D;
  color: #FFFBEE;
  border-radius: 7px 0px 0px 7px;
}

.beige-price {
  background-color: #FFFBEE;
  color: #1B475D;
  border-radius: 7px 0px 0px 7px;
}

i {
  color: #1B475D;
}
