// Modal Starts here
.modal-dialog {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}


.modal-content {
  width: 90%;
  height: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E3DFF2;
  border: 3px solid #000;
  border-radius: 4px;
  box-shadow: 4px 4px 0px #000;
}

.modal-header {
  margin-top: 25%;
}

.modal-title {
  font-family: "Poppins", sans-serif;
  font-size: 42px;
  font-weight: 800;
}

.modal-body p {
  padding: 5px;
  font-family: "Work Sans", sans-serif;
  color: #000000;
  font-size: 20px;
  text-align: center;
}

.modal-footer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20%;
  width: 100%;
}

.modal-footer .btn {
  font-family: "Work Sans", sans-serif;
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-secondary {
  background-color: #1B475D;
  width: 85%;
  border-radius: 8px;
}

.a-link {
  margin-top: 5px;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  color: #000000;
  font-size: 25px;
  font-weight: 600;
}


// Modal ends here

.event-show {
  width: 100vw;
  height: 100%;
  background-color: #FFFFFF;
}

.event-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-left: 18px;
}

.event-card {
  width: 85%;
  min-height: fit-content;
  padding: 2px;
  display: flex;
  flex-direction: column;
  border: 3px solid #000;
  box-shadow: 4px 4px;
  margin-top: 10px;
}

.card-top {
  display: flex;
  justify-content: space-evenly;
}

.card-top h1 {
  font-family: "Poppins", sans-serif;
  width: 70%;
  font-size: 25px;
  font-weight: 800;
}

.card-top .price {
  width: 23%;
  height: 28px;
  background-color: #D8FB4A;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  border-radius: 8px;
}

.event-data {
  display: flex;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
}


.card-category {
  max-width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-right: 3px solid #000;
  border-left: 3px solid #000;
  border-bottom: 3px solid #000;
  margin-bottom: 3px;
}


.btn-bookings {
  border: none;
  background-color: transparent;
}

.event-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-participate {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  color: #000;
  background-color: #D8FB4A;
  border-radius: 8px;
  border: 3px solid #000;
  box-shadow: 3px 3px 1px #000;
  width: 150px;
  margin-left: 70px;
  height: 40px;
  margin-top: 10px;
}

.btn-search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  color: #fff;
  background-color: #F65751;
  border-radius: 8px;
  border: 3px solid #000;
  box-shadow: 3px 3px 1px #000;
  width: 150px;
  text-decoration: none;
  margin-top: 10px;
}

.red-dot {
  width: 11px;
  height: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 80, 29);
  border-radius: 50%;
  box-shadow: 3px 3px 2px #000;
  margin-right: 8px;
  margin-top: 5px;
}


.show-button-ok-thanks {
  width: 250px;
  height: 45px;
  text-decoration: none;
  background-color: #D8FB4A;
  font-size: 20px;
  margin-bottom: 50px;
  border: 4px solid #000;
  border-radius: 5px;
  box-shadow: 3px 3px 1px #000;
  color: #000000
}

.event-image {
  display: flex;
}

.image-text {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
}

.organizer-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
  margin-left: 20px;
  margin-top: -13px;
}

.youcreator {
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  color: #9723C9;
  font-size: 18px;
  font-weight: 600;
  padding-left: 10px;
}

.edit-delete {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 65px;
}

.show-delete {
  font-size: 25px;
}

.show-edit {
  text-decoration: none;
  color: #F65751;
  font-family: "Work Sans", sans-serif;
}
.delete-event {
  text-decoration: none;
  color: #F65751;
  margin-right: 10px;
  font-family: "Work Sans", sans-serif;
}

.carousel {
  background-color: #E3DFF2;
  border: 3px solid #000;
  box-shadow: 3px 3px 1px #000;
  border-radius: 8px;
  width: 100%;
  height: fit-content;
  padding: 5px;
}

.card-img {
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 2px 2px 1px #000;
  object-fit: cover;
  object-position: center center;
}

.events-headers {
  font-size: 34px;
  font-family: "Poppins", sans-serif;
  font-weight: 650;
  margin-top: 15px;
}

.carrousel-image {
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 2px 2px 1px #000;
  margin-top: -10px;
}

.organizer-text {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  margin-left: 10px;
  margin-right: 5px;
  color: #9723C9;
  text-decoration: none;
}

.name-card {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  color: #000;
}

// Comments area

.comments {
  width: 100%;
}


.comments-input {
  width: 100%;
}

.comments-input textarea{
  border: 3px solid #000;
  border-radius: 8px;
  box-shadow: 3px 3px 1px #000;
  width: 100%;
}

.btn-comments {
  border: 3px solid #9723C9;
  color: #9723C9;
  box-shadow: 2px 2px 1px #9723C9;
  border-radius: 8px;
}

.comments-view {
  width: 100%;
}

.items-comments {
  display: flex;
  margin-top: 10px;
  border-bottom: 3px solid #000;
}

.show-img {
  width: 50px;
  height: 50px;
  object-position: center center;
  object-fit: cover;
}

.comments-img {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  border: 2px solid #000;
  box-shadow: 2px 2px 1px #000;
  margin-right: 10px;
}

.comment-name {
  font-family: "Work Sans", sans-serif;
  color: #9723C9;
  font-weight: 600;
  margin-right: 10px;
  text-decoration: none;
}

.comments-text {
  display: flex;
  flex-direction: column;
}
