.navbar-lewagon {
  justify-content: space-between;
  background-color: #FFFFFF;
  border: 2px solid #000000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  width: 200px;
}

.navbar.navbar-expand-sm.navbar-light.navbar-lewagon {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.navbar-logo {
  width: 50px;
  margin-left: 90px;
  margin-right: 90px;
}

.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-nav{
  border: 3px solid #000000;
  

}
