.navbar-lewagon {
  justify-content: space-between;
  background-color: #FFFFFF;
  border: 2px solid #000000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  width: 200px;
}

.navbar.navbar-expand-sm.navbar-light.navbar-lewagon {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.navbar-logo {
  width: 50px;
  margin-left: 100px;
  margin-right: 80px;
}

.navbar-toggler {
  border: none;
  box-shadow: none;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-nav{
  border: 3px solid #000000;
  border-radius: 7px;
  padding: 5px;
  height: 94vh;
}

.nav-item {
  justify-content: space-between;
  padding-left: 5px;
  background-color: #FFFFFF;
  border: 2px solid #d21111;
  margin-bottom: 25px;
}

.nav-item.dropdown {
  justify-content: space-between;
  padding-left: 5px;
  background-color: #FFFFFF;
}

.navbar-link {
  margin-top: 50px;
  border: 2px solid #a211d2;
}
.content-right {
  font-family: 'Poppins';
  font-size: 22px;
  font-weight: bolder;
  padding-left: 50px;
  border: 2px solid #1131d2;
}

.content-right a {
  font-family: 'Poppins';
  font-size: 22px;
  color:#000000;
  font-weight: bolder;
  border: 2px solid #d27b11;
}

.icon-left {
  padding-left: 50px;
  border: 2px solid #11d251;
}

.font-name {
  font-family: 'Poppins';
  font-size: 22px;
  font-weight: bolder;
}

.font-email {
  font-family: 'Poppins';
  font-size: 18px;
  font-weight:lighter;
}
